VEHICLES_HOST=localhost
INSURANCE_HOST=localhost
RTO_HOST=localhost
THEFT_HOST=localhost
MOT_HOST=localhost

DB_PORT=3306

COORDINATOR_USER=coordinator
COORDINATOR_PASSWORD=ChooseAStrongPassword123!

MYSQL_ROOT_PASSWORD=studentroot